[Desktop Entry]
Name=WmMp3
Comment=Frontend to mpg123 player
Comment[pl]=Nakładka na odtwarzacz mpg123
Exec=wmmp3
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
